.weatherStyles {
  display: flex;
  height: 53vh;
  margin-top: 2%;
}
.newWeatherStyles {
  display: flex;
  height: 33vh;
  width: 100%;
  margin-top: -3%;
}
.search {
  display: flex;
  margin-top: -1%;
  margin-left: 60%;
}
.currentLocation {
  position: absolute;
  width: 100%;
  margin-top: -2%;
  font-size: 1.5rem;
}
.background {
  background-image: linear-gradient(
    to top,
    #8fcfec,
    #76c1e6,
    #5bb3e1,
    #3ca5db,
    #169dd8
  );
}
