.locationHeader {
  position: absolute;
  font-size: 2.5rem;
  margin-left: 38%;
  margin-top: -5%;
}
.notice {
  position: absolute;
  justify-content: center;
  width: 100%;
  margin-top: -2%;
  font-size: 1.5rem;
}
.noticeTwo {
  color: red;
  position: absolute;
  justify-content: center;
  width: 100%;
  margin-top: -0.5%;
}
